<% include partials/header %>
  <div class="container-fluid">
    <ul class="bg-image-register">
      <li>
    <div class="row">
      <div class="col-md-12">
        <% if (typeof errors != 'undefined'){ %>
          <% errors.forEach(function(error){ %>
          <div class="alert alert-danger" id="errorAlert">
            <%= error.msg %>
          </div>
        <% })}; %>
        <div class="form-design-signup">
          <form action="/register" method="POST">
            <div class="title">
               <h1>Sign-Up</h1>
               </div>
               <div class="row">
                 <div class="col-md-6">
                    <div class="signup-info-left">
                      <input type="text" name="fname" placeholder="First Name" value="<%= fname %>">
                      <input type="text" name="lname" placeholder="Last Name" value="<%= lname %>">
                      <input type="text" name="username" placeholder="username" value="<%= username %>">
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="signup-info-right">
                      <input type="password" name="password" placeholder="Password">
                      <input type="text" name="title" placeholder="Title" value="<%= title %>">
                      <input type="submit" value="Sign-Up">
                    </div>
                  </div>
              </div>
          <form>
        </div>
      </div>
      </li>
      </ul>
    </div>
  </div>
